body {
    background-color: red;
}

nav {
    
}

header .jumbotron {
    height: 700px;
    background-position: center;
    position: relative;
}

.banner-container {
    width: 800px;
    height: 300px;
    position: absolute;
    left: 275px;
    background-color: rgba(62, 62, 62, 0.4);
    border-radius: 7px;
}

.banner {
    font-weight: 700;
}

.search-button {
    position: absolute;
    left: 600px;
    top: 340px;
}
