/* Add custom styles for Recipe Finder website /
/ Set background color for header and footer */
header, footer {
    background-color: #f5f5f5;
    }
    
    /* Style the header navigation */
    nav {
    margin-bottom: 0;
    }
    
    nav .navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 32px;
    font-weight: bold;
    color: red;
    }
    
    nav .navbar-brand::after {
    position: relative;
    content: url(../../images/logo.png);
    top: 6px;
    left: 7px;
    }
    
    nav .navbar-brand:hover {
    text-decoration: none;
    color: #dc1414;
    }
    
    /* Style the links in the navbar */
    .navbar-nav .nav-link {
    font-size: 1.2rem;
    margin-right: 1rem;
    }
    
    /* Style the active link */
    .navbar-nav .active > .nav-link {
    color: #fff;
    background-color: #dc1414;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    }
    
    /* Change the color of the navbar toggler icon */
    .navbar-toggler-icon {
    color: #dc1414;
    }
    
    /* Add spacing to main content */
    main {
    padding: 40px 0;
    }
    
    /* Style the search form */
    form {
    display: flex;
    justify-content: center;
    }
    
    .form-control {
    width: 70%;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #1e1d1d;
    margin-right: 10px;
    box-shadow: none;
    font-size: 1.2rem;
    }
    
    .form-control:focus {
    box-shadow: none;
    border-color: #fe160a;
    }
    
    .btn-primary, .btn-red {
    border-radius: 0;
    border: none;
    box-shadow: none;
    font-size: 0.9rem;
    transition: background-color 0.2s ease-in-out;
    }
    
    .btn-primary {
    background-color: #dc1414;
    }
    
    .btn-primary:hover, .btn-red:hover {
    background-color: #dc1414;
    }
    
    .btn-red {
    background-color: red;
    }
    
    /* Style recipe cards */
    .card {
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.125);
    transition: transform 0.2s ease-in-out;
    }
    
    .card:hover {
    transform: translateY(-5px);
    }
    
    .card-title {
    font-size: 1.2rem;
    font-weight: 600;
    }
    
    .card-text {
    font-size: 0.9rem;
    color: #6c757d;
    }
    
    .card .btn-primary {
    background-color: #dc1414;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-size: 0.9rem;
    }
    
    .card .btn-primary:hover {
    background-color: #dc1414;
    }
    
    /* Style the four image section */
    .col-md-3 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    }
    
    .col-md-3 .card-title {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #222;
    }
    
    .col-md-3 .card-text {
    font-size: 0.9rem;
    color: #6c757d;
    }
    
    .col-md-3 .btn-primary {
    background-color: #dc1414;
    border: none